.explore-section {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.expore-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
