@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito&display=swap');

@import './commonStyle/commonStyle.css';


body {
  margin: 0;
  font-family:'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-primary {
  box-shadow: 0 0 10px 0 cyan;
  
}

.btn-primary:hover {
  background-color: #40e0d0;
  transform: scale(1.09);
  transition: 1s ease-out;
  color: white;
}
